<!DOCTYPE html>
<html>
<head>
  <title>Simple Blog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
   <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
   <%=stylesheet_link_tag :app, "data-turbo-track":"reload"%>
   
    <%= javascript_importmap_tags %>
</head>
<body>
  <header>
    <h1>Welcome to My Blog</h1>
    <nav>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'New Post', new_post_path %>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
